/* Top level container */
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background: yellow;
  width: 100%;
  height: 90vh;
}

/* Editor container set up */
.editor-container {
  width: 50%;
  height: 100%;
  background: blue;
  overflow: hidden;

}

ace-editor {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.ace-editor-container {
  height: 95%;
  width: 100%;
  background: #262626;
}

/*navbar for the editor is here */
.nav-container {
  height: 5%;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  height: 100%;
  background: #262626;
}
ul {

    margin: 0;
    padding: 0;
    height: 100%;

}

 li {

  list-style: none;
  float: left;
  margin-left: 0;
  margin-right: 2px;
  padding-top: 10px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  font-style: bold;
  -webkit-user-select: none;
  cursor: pointer;
  background: #323232;
  overflow: none;
  font-family: arial;

}

.notSelected {
  background-color: #4c4c4c;
  color: white;

}

.notSelected:hover {
  background-color: #7f7f7f;
}



.selected {
  background: #323232;
  color: white;
}


/* HTML container */
.content-container {
  width: 50%;
  height: 100%;
  background: pink;
}

/*
.container {
  display: flex;
  flex-direction: row;
  background-color: pink;
  height: 600px;
}

.right-side {
  width: 50%;
  height: 90%;
  background: green;

}

.javascript {
  background: white;
  height: 100%;
}

ace-editor {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

nav {



  padding: 0;
  margin-left: -40px;
  background-color: black;
}


.left-side {
  width: 50%;
  height: 100%;
  background-color: blue;
}


ul {
  height: 100%;
  background-color: black;
}

ul li {
  float: left;
  list-style: none;
  margin-left: 0;
  margin-right: 2px;
  padding: 5px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  font-style: bold;
  -webkit-user-select: none;
  cursor: pointer;
}



.addFile {
  background-color: #4c4c4c;
  resize: none;

}
span {
    font-size: 24px;
  font-weight: bold;
  color: white;
}
*/
